
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
:root{
    --color-primario: #000000;
    --color-secundario:#f6f6f6;
    --color-tercero:#22D4FD;
    --color-hover:#272727;
    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona:'Krona One', sans-serif;
    
}

* {
    padding: 0;
    margin:0;
}

body{
    
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.header{
   padding: 2% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 5rem;
}

.header_menu_link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-tercero);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--color-tercero);
}

.presentacion {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
   

}


.presentacion__enlaces__link{
    
    width: 50%;
    
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.3rem 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: solid 2px var(--color-tercero);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion_imagen{
    width: 50%;
}

.footer{
   
    background-color: var(--color-tercero);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1000px){
    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
    }

   .presentacion{
    flex-direction: column-reverse;
    padding: 5%;
   }
   
   .presentacion__contenido{
    width: auto;
   }
}